<div class="modal-header">
    <h4 class="modal-title">Add New User</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="this.activeModal.close()"></button>
  </div>
  
  <div class="modal-body">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row">
        
  
        <div class="col-12 mb-3">
          <label for="name" class="form-label">Name <span style="color: red;">*</span></label>
          <input id="name" type="text" class="form-control" formControlName="name" placeholder="Enter employee name" required />
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="email" class="form-label">Email <span style="color: red;">*</span></label>
          <input id="email" type="email" class="form-control" formControlName="email" placeholder="Enter email" required />
        </div>
  
        <div class="col-md-6 mb-3">
          <label for="phone" class="form-label">Phone <span style="color: red;">*</span></label>
          <input id="phone" type="text" class="form-control" formControlName="phone" placeholder="enter phone" required />
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="role" class="form-label">Role <span style="color: red;">*</span></label>
        <select id="role" class="form-control" formControlName="role" placeholder="Enter Role" required>
          <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
        </select>
        </div>
  
        <div class="col-md-6 mb-3">
          <label for="password" class="form-label">Password <span style="color: red;">*</span></label>
          <input id="password" type="password" class="form-control" placeholder="Enter Password" formControlName="password" required />
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="userStatus" class="form-label">Status <span style="color: red;">*</span></label>
          <select id="userStatus" class="form-control" formControlName="userStatus" required>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </select>
        </div>
  
        <div class="col-md-6 mb-3">
          <label for="permissions" class="form-label">Permissions <span style="color: red;">*</span></label>
          <select id="permissions" class="form-control"  formControlName="permissions" required>
            <option value="all">All</option>
            <option value="read">Read</option>
            <option value="write">Write</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex justify-content-center align-items-center">
    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid" (click)="onSubmit()">Submit</button>
  </div>
  